@font-face {
  font-family: 'Montserrat-summarize';
  src: url('fonts/Montserrat-VariableFont_wght.ttf') format('truetype-variations');
  font-weight: 100 900; 
  font-display: swap; 
}

body {
  padding: 0;
  margin: 0;
  width: 350px;
  background-color: #EFEFEF;
  font-family: "Montserrat-summarize", sans-serif;
  font-weight: 500;
  font-size: 15px;
  padding-bottom: 10px;
}

#header {
  text-align: center;
  padding: 20px;
  padding-top: 10px;
  font-size: 20px;
}

.app {
  margin: 10px;
}

.semi-bold {
  font-weight: 600;
}

.extra-bold {
  font-weight: 800;
}

.input-container {
  padding: 5px;
}
